// General COLORS VARIABLES
$white: #ffffff;
$bgGrey: #ebeef0;
$borderGrey: #e3e3e3;
$textColorDark: #183247;
$textColorLight: #707c87;
$lightGrey: #f2f2f2;
$darkGrey: #666666;
$silver: #cccccc;
$blue: #22baec;
$darkBlue: #284255;
$green: #58bf00;
$red: #eb0000;

// Responsive Variables
$desktopLarge: 1440px;
$desktopSmall: 1024px;
$tablet: 768px;
$phablet: 736px;
$mobileLarge: 426px;
$mobileMedium: 375px;
$mobileSmall: 320px;

// Fonts

// FONTS VARIABLES
$enFont: "Raleway", sans-serif;
$arFont: "DroidArabicNaskh", sans-serif;
$fAwsome: "Font-Awesome";
$fAwsomeBrands: "Font-Awesome-Brands";
